---
import Icon from "./Icon.astro";
import { site } from "../config/site";
---

<footer class="site-footer">
  <div>
    <p class="footer-brand">{site.name}</p>
    {site.address && <p>{site.address}</p>}
  </div>
  <div class="footer-links">
    {site.phone && <a class="icon-link" href={`tel:${site.phone}`}><Icon name="phone" />{site.phone}</a>}
    {site.instagramUrl && <a class="icon-link" href={site.instagramUrl}><Icon name="instagram" />Instagram</a>}
    <a class="icon-link" href="/events"><Icon name="calendar" />Events</a>
    <a class="icon-link" href="/reservations"><Icon name="users" />Request a Reservation</a>
  </div>
</footer>
